# ignore data files
*.[ct]sv
*.zip
*.tar
*.gz

# ignore byte compiled files
*.py[co]

# ignore coveralls yaml, coverge dir
.coveralls.yml
.coverage
test_coverage.log
test_profiler.log

# ignore test cache
.pytest_cache

.DS_Store

docs/.ipynb_checkpoints/degradation_example-checkpoint.ipynb
*.ipynb_checkpoints*

# ignore setup and egg-info
.eggs/
build/
dist/
rdtools.egg-info*
