sudo: false

language: python

python:
  - "2.7"
  - "3.6"
# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

# Test two environments:
# 1) dependencies with pinned versions from requirements.txt
# 2) 'pip install --upgrade --upgrade-strategy=eager .' to install upgraded
#    dependencies from PyPi using version ranges defined within setup.py
env:
  - REQ_ENV='-r requirements.txt .'
  - REQ_ENV='--upgrade --upgrade-strategy=eager .'

install:
  - pip install $REQ_ENV

script:
  - pytest

deploy:
  provider: pypi
  user: RdTools
  password:
    secure: GjzVQdzwnXUx+nJV5R7FdZRiI+6amQAklzS2rj0/i23B2QCh0qnnbIjcatodiglBhrH/i/ccNT6HVvYt21IDxux50VuGCSgvvX1I+QfBtDCV0Wt61j8Ms9C7Xbbdt/jXeI4KXQYDq118GJgWPQDfZPDo0okttwrRYNuYhTPYdJ7qmnn3pKOKwrDcjRNiO8dWv8tcY8bfzp7WEEhWhUqHbWGf3EprbVALuS7DF5BzoxKz6np869dTj/5j7BdCF19vscQnP1p8rM7H7J+0m6SNH9slbTE1Z/wfY+97906+zvHOU3rAC2q6NBKRArSIcWy/RsYQcdmuXpZPw7fk04whMZ3V7zojmtkeggTp7AbKlf7qmwKLkDGfNofztQNojNg171eLFSz3GLlYzraw8wLa1Zq8APjq/gG9TkqQkRZ0n73MuYTtZz2ARQZiuDWPJ8sjyoonp04FXRqTK+zKCaFvSaATEXMj4N9GY1yQawrNCOPodR42sz82aCIp/Yu5bvrP1YuMAHkYttzD0HScMRN/ebHethSdRc2S3x2yyX6r7B76lfcx1tS6vcbSVc6B8gg59cZk+82AlpbF7LxJnmenThfKp3cdiYAUI7oYo8+Bfp6ZI44UH8ODY8d4Lhx00o55ojAb7tiwJSWLio3NSC5LGagCwfJmiQPze1luPiKIqBM=
  on:
    tags: true
    branch: master
  distributions: "sdist bdist_wheel"
  skip_cleanup: true
