# This is an incomplete specification of the intended environment
# it is meant to be used tandem with ../requirements.txt
appnope==0.1.0
argon2-cffi==21.2.0
backcall==0.1.0
bleach==3.3.0
cffi==1.15.0
colorama==0.4.4
decorator==4.3.0
entrypoints==0.2.3
html5lib==1.0.1
ipykernel==4.8.2
ipython-genutils==0.2.0
ipython==7.16.3
ipywidgets==7.3.0
jedi==0.12.1
Jinja2==2.11.3
jsonschema==2.6.0
jupyter-client==6.1.7
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyter==1.0.0
MarkupSafe==1.1.1
mistune==0.8.3
nbconvert==6.5.1
nbformat==5.0.7
notebook==6.4.1
numexpr==2.8.0
packaging==20.9
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prometheus-client==0.3.0
prompt-toolkit==3.0.27
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.4
pyzmq==22.2.1
qtconsole==4.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
terminado==0.8.3
testpath==0.3.1
tornado==6.1
traitlets==5.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.3.0